<div class="card" style="width: 18rem;" id="<%= dom_id employee %>">
  
  <div class="card-body">
    <h5 class="card-title"><%= employee.first_name %>  <%= employee.last_name %></h5> 
    <p class="card-text">Email: <%= employee.email %></p>
    <p class="card-text">Phone: <%= employee.phone %></p>
    <p class="card-text">Position: <%= employee.position %></p>

  </div>
</div>

<div id="<%= dom_id employee %>">
</div>
