<h1>Employees List</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Position</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
          <td><%= employee.first_name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.email %></td>
          <td><%= employee.phone %></td>
          <td><%= employee.position %></td>
          <td><%=link_to 'Show', employee %></td>
          <td><%=link_to 'Edit', edit_employee_path(employee) %></td>          
          <td><%=link_to 'Destroy', employee, method: :delete, 
          data: {confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<br/>

<%= link_to "New employee", new_employee_path, class: "btn btn-secondary" %>
